In [5]:
import pandas as pd

# Cargar los archivos CSV
df1 = pd.read_csv("C:\\Users\\maseo\\OneDrive\\Escritorio\\GalaxyClassification\\Data\\Dataset\\NairAbrahamMorphology.csv", sep=';')
df2 = pd.read_csv("C:\\Users\\maseo\\OneDrive\\Escritorio\\GalaxyClassification\\Data\\Dataset\\fcP_ID.csv", sep=';')

# Fusionar los DataFrames en función de la columna "ID"
nuevo_df = pd.merge(df1, df2, on="spID")

# Me quedo con las columnas que me interesan
nuevo_df = nuevo_df[['#JID', 'fpCid', 'TType']]
# Guardar el nuevo DataFrame en un archivo CSV
nuevo_df.to_csv("C:\\Users\\maseo\\OneDrive\\Escritorio\\GalaxyClassification\\Data\\Dataset\\path_TType.csv", index=False, sep=';')

def agregar_texto(celda):
    return f"..\..\Data\Images\{celda}.jpg"

# Aplicar la función a cada celda de la columna "Nombre"
nuevo_df["fpCid"] = nuevo_df["fpCid"].apply(agregar_texto)

# Guardar el DataFrame modificado en un nuevo archivo CSV
nuevo_df.to_csv("C:\\Users\\maseo\\OneDrive\\Escritorio\\GalaxyClassification\\Data\\Dataset\\path_TType.csv", index=False, sep=';')

In [6]:
nuevo_df

,#JID,fpCid,TType
0,J155341.74-003422.84,..\..\Data\Images\fpC-000745-40-2-0532-0479.jpg,3.0
1,J155146.83-000618.62,..\..\Data\Images\fpC-000745-40-3-0529-0342.jpg,-5.0
2,J154453.22+002415.48,..\..\Data\Images\fpC-000745-40-4-0518-0263.jpg,-2.0
3,J154711.32+002424.81,..\..\Data\Images\fpC-000745-40-4-0521-0197.jpg,4.0
4,J154514.39+004619.89,..\..\Data\Images\fpC-000745-40-5-0518-0184.jpg,5.0
...,...,...,...
14029,J124719.07+154235.64,..\..\Data\Images\fpC-004381-40-5-0139-0048.jpg,2.0
14030,J130510.16+152606.67,..\..\Data\Images\fpC-004381-40-5-0167-0172.jpg,2.0
14031,J131525.21+152522.23,..\..\Data\Images\fpC-004381-40-5-0184-0050.jpg,1.0
14032,J132045.57+151532.75,..\..\Data\Images\fpC-004381-40-5-0193-0020.jpg,0.0
14033,J132135.96+151917.80,..\..\Data\Images\fpC-004381-40-5-0194-0046.jpg,3.0